.menu {
    width: 80%;
    border: 1px solid #000;
    padding: 20px;
}

.item {
    display: inline-block;
    padding: 20px;
    margin-right: 100px;
    margin-bottom: 5px;
}

.item img {
    width: 120px;
    height: 120px;
}