.order {
    width: 20%;
    border: 1px solid #000;
    padding: 20px;
    position: relative;
}

.total-price {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.delete-btn {
    margin-left: 20px;
    background-color: transparent;
}

.menu-item-delete {
    width: 10px;
    height: 15px;
}