.menu-item {
    border: none;
    margin-bottom: 10px;
}

.menu-item-name {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

.menu-item-count {
    display: inline-block;
    width: 20px;
}

